<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
  <div class="container">
    <a class="navbar-brand" href="#">{{ title }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" 
    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto" *ngIf="isUserLoggedIn">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/home']" [routerLinkActive]="['active']">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="watch-list" [routerLink]="['/watchlist']" [routerLinkActive]="['active']">My Watchlist</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="discover-movies" [routerLink]="['/discover-movies']"  [routerLinkActive]="['active']">Discover Movies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="log-out" [routerLink]="['/logout']" [routerLinkActive]="['active']">Logout</a>
        </li>
      </ul>
      <ul class="navbar-nav mr-auto" *ngIf="!isUserLoggedIn">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/register']" [routerLinkActive]="['active']">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/login']" [routerLinkActive]="['active']" (click)="test()" >Login</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" *ngIf="isUserLoggedIn">
        <input name="Searchbox" [(ngModel)]="searchQuery" #searchBox id="search-box" class="form-control" (keyup.enter)="search();searchBox.value=''"
          type="text" placeholder="Search" aria-label="Search">
        <button id="search-button" type="button" class="btn btn-primary text-center" (click)="search()">Search</button>
      </form>
    </div>
  </div>
</nav>
<div class="container col-md-6 col-md-offset-3">
  <alert class="text-center"></alert>
</div>
<router-outlet></router-outlet>
<br>
<br>
<footer class="fixed-bottom">
  <div class="row">
    <div class="col-sm-6 text-center">
      <h5>Copyright © 2017 Movie Cruiser. </h5>
    </div>
    <div class="col-sm-6 text-center">
      <h6>All rights reserved. </h6>
    </div>
  </div>
  
  <!--End of row -->
</footer>