<div class="container" *ngIf="watchList">
  <div class="row card-group">
    <div class="col-6" *ngFor="let movie of watchList">
      <div class="card text-center">
        <div class="media">
          <div class="media-left">
            <img class="d-flex mr-3 moviePoster" (click)="goToDetail(movie.movieId)" src="https://image.tmdb.org/t/p/w300/{{movie.posterPath}}"
              alt="{{movie.name}}">
          </div>
          <div class="media-body align-self-end">
            <a  (click)="goToDetail(movie.movieId)">
              <h5 class="movieDescription">{{movie.name}} ({{movie.releaseDate| date:'y'}})</h5>
              <p class="movieRating">Rating: {{movie.voteAverage}} ({{movie.voteCount}})</p>
            </a>
            <div class="form-group">
              <label for="commentsBox">Comments:</label>
              <input #commentsBox type="/textarea" value="{{movie.comments}}" class="form-control movieCommentsInpt" id="commentsBox" name="commentsBox">
              <br>
              <div></div>
              <button class="btn btn-primary movieUpdateCommentsBtn" (click)="updateComments(movie.movieId,commentsBox.value)" style="margin-top: 20px">Update </button>
              <button id="remove-button" class="btn btn-danger movieRemoveBtn"  (click)="removeFromWatchList(movie.movieId)" style="margin-top: 20px">Remove</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>